@import './node_modules/audio-stats/index.css';
@import './node_modules/dialog-component/dialog.css';
@import './node_modules/overlay-component/overlay.css';


[hidden] {
	display: none!important;
}


.audio-lab-container {
	padding-top: 2rem;
	min-height: 30rem;
}

/** Blocks basics */
.block {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2rem;
}
.block:hover .block-thumbnail {
}
.block-thumbnail {
	z-index: 1;
	box-shadow: 0 0 0 1px lightgray;
	position: relative;
	cursor: default;
	width: 4rem;
	height: 4rem;
	text-align: center;
	line-height: 4rem;
	border-radius: 2rem;
}
.block-thumbnail svg {
	display: inline-block;
	vertical-align: middle;
	max-width: 60%;
	max-height: 60%;
}
.block-out, .block-in {
	position: absolute;
	top: 1rem;
	left: 2rem;
	box-shadow: 0 0 0 1px lightgray;
	width: 4rem;
	height: 2rem;
	transform-origin: 0 50%;
	z-index: 0;
	opacity: 0;
	color: rgb(215, 220, 219);
	transition: .2s ease-in opacity;
}
.block-out:after, .block-in:after {
	content: '';
	position: absolute;
	right: 1rem;
	top: 0;
	border-left: 1rem solid;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-right: none;
}
.block-in {
	color: rgb(225,222,222);
	transform: rotate(180deg);
}
.block-in:after {
	border-right: 1rem solid;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: none;
}
.block:hover .block-out,
.block:hover .block-in {
	opacity: 1;
}


/** Specific blocks */
.block-code {
	display: block;
	tab-size: 4;
	width: 100%;
	margin: 0;
	padding: 0;
}
.block-analyser .audio-stats {
	position: absolute;
	top: 1rem;
	left: 1.5rem;
	bottom: 1rem;
	right: 2.5rem;
}


/** Connections */
.connection {
	z-index: 0;
	position: absolute;
	min-width: 4rem;
	min-height: 4rem;
	box-shadow: 0 0 0 1px lightgray;
	transform-origin: 0 50%;
	color: rgb(216, 216, 216);
}
.connection:after {
	content: '';
	position: absolute;
	left: 2.2rem;
	right: 2.2rem;
	top: 50%;
	height: 0;
	transition: .2s ease-in background;
	border: 1px solid;
}
.connection:hover:after {
	color: black;
}


.appender {
	max-width: 50vw;
	display: flex;
	flex-flow: row wrap;

}
.appender-item {
	position: relative;
	flex: 1 0 4rem;
	margin: .5rem;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	text-align: center;
	line-height: 4rem;
}
.appender-item svg {
	display: inline-block;
	vertical-align: middle;
	max-width: 60%;
	max-height: 60%;
}



/** When connecting process procurs */
.connecting .block-in {
	opacity: 1;
}
.block-connection-target .block-in {
	color: black;
}
.connection-available {
	color: black;
}