@import './node_modules/audio-stats/index.css';

.block {
	position: absolute;
	min-width: 60px;
	min-height: 40px;
	background: white;
	box-shadow: 0 1px 6px rgba(10,20,30,.2);
	border-radius: 2px;
	padding: .4rem;
}

.block-generator-code {
	display: block;
	tab-size: 4;
	min-width: 500px;
}